.css-selector {
  font-family: 'Oswald';
  font-family: 'Open Sans';
}

h2 {
  font-family: 'Oswald';
  color: darkblue;
  margin:10px 50px 10px 50px
}
h1 {
  font-family: 'Oswald';
  color: darkblue;
  margin:10px 50px 10px 50px
}
p {
  font-family: 'Open Sans';
  color: darkblue;
  margin:10px 50px 10px 50px
}
body {
  background-color:ivory;
}
img {
  float: left;
  margin-right:10px;
}

#navbar {
  list-style-type: none;
}

#navbar li {
  display:inline;
  font-family: 'Open Sans'
}

#navbar a {
  margin-left: 75px;
  margin-right: 75px;
}

.left {
  float: left;
  width:300px;
  padding: 1em;
}

.center {
  margin-left: 300px;
  margin-right:300px;
  padding: 1em;
}

.right {
  float: right;
  width:300px;
  padding: 1em;
}